<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="Versione" value="1.0"/>
    <add key="pathToTar" value="\\filesrvs\root\Applicazioni\Batch\IT500PINOnLine\IT549ElaboraEntratel\INPUT" />
    <add key="pathToOutUntar" value="\\filesrvs\root\Applicazioni\Batch\IT500PINOnLine\IT549ElaboraEntratel\OUTPUT" />
    <!-- Icon@ -->
    <add key="WSICONAMAILMittente" value="INPSComunica@inps.it" />
    <add key="WSICONAMAILSubject" value="Resoconto esecuzione batch" />
    <add key="WSICONAMAILDestinatariTo" value="sicurezza.passi@inps.it" />
    <add key="WSICONAMAILDestinatariCC" value="sicurezza.passi@inps.it" />
    <add key="WSICONAMAILMittenteSede" value="0040"/>
    <add key="WSICONAMAILTipoComunicazioneLavorazione" value="LAV"/>
     
  </appSettings>

   <log4net debug="false">
    <appender name="Console" type="log4net.Appender.ConsoleAppender"  >
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>

   

    <root>
      <level value="INFO"/>
      <appender-ref ref="Console"/>           
    </root>
  </log4net>


  <connectionStrings>
    <add name="mycertificatebatch.Properties.Settings.myBatchDBConnectionString"
        connectionString="Data Source=SQLINPSSVIL01;Initial Catalog=Sicurezza2010;User ID=SicurezzaMPBatchCertificati;Password=fa.234pi"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
  <system.serviceModel>
  <bindings>
    <basicHttpBinding>
      <binding name="BASICHTTP_Binding">
        <!--<security mode="None"></security>-->
        <security mode="Transport">
          <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          <message clientCredentialType="Certificate" algorithmSuite="Default"/>
        </security>
      </binding>
    </basicHttpBinding>
  </bindings>
  <client>
    <endpoint address="https://ws.svil.inps/Ws.Net/WSIcona" binding="basicHttpBinding" bindingConfiguration="BASICHTTP_Binding" contract="WSIcona2.IWSIcona20" name="BASICHTTP_Binding">
      <headers>
        <tem:Identity xmlns:tem="http://inps.it/">
          <AppName>AB00080</AppName>
          <AppKey>AB00080</AppKey>
          <UserId>PASSI</UserId>
          <IdentityProvider>AD</IdentityProvider>
          <SessionId>1234GHGA876677</SessionId>
          <SequenceId>1</SequenceId>
          <PeerHost>10.1.250.9</PeerHost>
        </tem:Identity>
      </headers>
    </endpoint>
  </client>
</system.serviceModel>
</configuration>