@{
    ViewBag.Title = "ViewPopup";
}

<h2>ViewPopup</h2>

<input type="submit" runat="server" value="close window" onclick="closepopup();" />
   <script type="text/javascript">
       closepopup = function () {
           window.close();
       }
    </script>
