<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    </sectionGroup>
  </configSections>
  <appSettings>

    <add key="Versione" value="5.3"/>

    <!--Inizio Variabili Pin Non Utilizzati-->
    <add key="ElaboraNonUtilizzati" value="False"/>
    <!-- Elaborazione ramo Pin Non Utilizzati -->
    <add key="RangeNumeroGiorni" value="5000"/>
    <add key="ElencoTipoUtenteProfiliEsclusi" value="14"/>
    <!--l'elenco deve essere separato da una virgola-->
    <!--Fine Variabili Pin Non Utilizzati-->

    <add key="WSICONAMAILMittente" value="INPSComunica@inps.it"/>
    <!--  Destinatari dell'eventuale mail contenente i dettagli dell'errore verificatosi -->
    <add key="DestinatariMailErrore" value="sicurezza.passi@inps.it"/>
    <!--  Impostazione strettamente legata a quella precedente "DettaglioMailElaborazione": 
      imposta i destinatari della mail contenente il riepilogo dell'elaborazione -->
    <add key="DestinatariMailElaborazione" value="sicurezza.passi@inps.it"/>
    <add key="WSICONAMAILMittenteSede" value="0040"/>
    <add key="WSICONAMAILTipoComunicazioneLavorazione" value="LAV"/>

    <!-- Sezione Configurazione Integrazione LDAP-->
    <!-- ********************************************************************** -->
    <add key="EnableOracleAccess" value="true"/>
    <add key="InsertInternet" value="true"/>

    <!-- parametri connessione LDAP sviluppo -->
    <!-- ********************************************************************** -->
    <!--<add key="container" value="DC=INPDAP,DC=IT"/>
    <add key="host" value="10.192.192.54"/>
    <add key="password" value="IMEAPPL"/>
    <add key="port" value="3890"/>
    <add key="username" value="uid=pin,ou=UsersAPP,DC=INPDAP,DC=IT"/>-->
    <!-- ********************************************************************** -->
    <!-- parametri connessione LDAP Collaudo -->
    <!-- ********************************************************************** -->
    <add key="container" value= "DC=INPDAP,DC=IT"/>
    <add key="host" value= "10.192.194.39"/>
    <add key="password" value= "inps00"/>
    <add key="port" value= "389"/>
    <add key="username"  value= "uid=pin,ou=UsersAPP,DC=INPDAP,DC=IT"/>
    <!-- ********************************************************************** -->
  </appSettings>
  <!-- collaudo -->
  <connectionStrings>
    <add name="AssegnazionePin" connectionString="Data Source=SQLWMO02;Initial Catalog=AssegnazionePIN;user id=pinonline;Password=pinonline;"/>
    <add name="SicurezzaMP" connectionString="Data Source=SQLWMO02, 1433;Initial Catalog=SicurezzaMP;user id=SicurezzaMPPinPro;Password=SicurezzaMPPINPro;" />
    <add name="OTP" connectionString="Data Source=SQLINPSSVIL06,2059;Initial Catalog=OTP;User Id=otp;Password=tk43rc-q8;" />
    <add name="AziendaGDP_"
      connectionString="Data Source=(DESCRIPTION =(ENABLE=BROKEN)(CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3)(RETRY_COUNT=3)
					(ADDRESS = (PROTOCOL = TCP)(HOST = 172.19.29.33)(PORT = 1521))
          (ADDRESS = (PROTOCOL = TCP)(HOST = 172.19.29.34)(PORT = 1521))
 				  (ADDRESS = (PROTOCOL = TCP)(HOST = 172.19.29.35)(PORT = 1521))
					(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = ISTCOLSN)));User Id=IMEAPPL;Password=IMEAPPL01;"
      providerName="Oracle.DataAccess.Client" />
    <add name="AziendaGDP"
      connectionString="ISTCOL= (DESCRIPTION= (ADDRESS= (PROTOCOL=TCP) (HOST=ohcistidb-scan.collaudo.inps) (PORT=1521)) (CONNECT_DATA= (SERVER=dedicated) (SERVICE_NAME=ISTCOLSN)))"
      providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <!-- ********************************************************************** -->


  <system.diagnostics>
    <sources>
      <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>

  <applicationSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BASICHTTP_Binding">
          <!--<security mode="None"></security>-->
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.ser-collaudo.inps/Ws.Net/WSIcona" binding="basicHttpBinding"
         bindingConfiguration="BASICHTTP_Binding" contract="WSIcona2.IWSIcona20"
         name="BASICHTTP_Binding">
        <headers>
          <tem:Identity xmlns:tem="http://inps.it/">
            <AppName>AB00080</AppName>
            <AppKey>pji8oy2w80y5evbp8fs9fo6rhhzzxe0</AppKey>
            <UserId>PASSI</UserId>
            <IdentityProvider>AD</IdentityProvider>
            <SessionId>1234GHGA876677</SessionId>
            <SequenceId>1</SequenceId>
            <PeerHost>10.1.250.9</PeerHost>
          </tem:Identity>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
